body {
    background-color: #F5F5F5;
    color: #808080;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin:m 0 auto;
}

strong {
    color: #616161;
    font-size: large;
}

a {
    color: #FEAE00;
}

blockquote, q.left, q {
/*    border-left: 0.2em solid #FEAE00;
    color: #FEAE00;*/
    border-left: 0.25em solid #FEAE00;
    color: #FEAE00;
    /*background-color: #EEEEEE;*/

    font-size: x-large;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    quotes: none;

    width: 90%;

    display: block;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0.0em;
    margin-inline-end: 0.0em;

    padding: 0 0.5em 0 0.5em;

    /*background-color: #E0E0E0;*/
}

/*@font-face {
    font-family: Montserrat
    src: url("file:///android_asset_fonts/Montserrat.woff2"
}
body {
    font-family: Montserrat
}*/

iframe {
    display: block;
    /*border: 0;*/
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}